Repository thegridelectric/gridworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.6
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format

Add recursively_pascal to utils
  pyproject.toml
  src/gw/property_format.py
  src/gw/utils.py
  tests/test_property_format.py
Due: check-toml, pyupgrade

typo
  src/gw/__init__.py
Due: pyupgrade

run pre-commit first
  src/gw/utils.py
  tests/test_utils.py
Due: pyupgrade

no mypy
  .github/workflows/tests.yml
Due: check-yaml

wrestling w precommit
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
Due: check-yaml

crying uncle
  .github/workflows/tests.yml
Due: check-yaml

try coverage fixes
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, pyupgrade

ci fiddling
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, pyupgrade

Add named_type/gw_base
  pyproject.toml
  src/gw/named_types/__init__.py
  src/gw/named_types/gw_base.py
Due: check-toml, pyupgrade

fix pre-commit
  src/gw/named_types/__init__.py
Due: pyupgrade

fix pre-commit
  pyproject.toml
Due: check-toml

to_dict uses model_json_dump for enum handling
  docs/codec.md
  pyproject.toml
  src/gw/named_types/gw_base.py
Due: check-toml, pyupgrade

fix pre-commit
  docs/codec.md
  src/gw/named_types/gw_base.py
Due: pyupgrade

fix
  pyproject.toml
  src/gw/named_types/gw_base.py
  tests/test_gw_base.py
Due: check-toml, pyupgrade

GwBase includes version_value
  docs/application_shared_languages.md
  pyproject.toml
  src/gw/named_types/gw_base.py
Due: check-toml, pyupgrade

add notes on ASLs
  docs/application_shared_languages.md
Due: none

update
  docs/atn-market-maker-contract-state-management.md
  docs/atn-scada-contracts.md
  docs/representation-contract.rst
Due: none

minor doc update
  docs/atn-scada-contracts.md
Due: none

Update code gen tools
  CodeGenerationTools/GridworksCore/Enum/DeriveEnums.xslt
  CodeGenerationTools/GridworksCore/Enum/EnumInit/DeriveEnumInit.xslt
  CodeGenerationTools/GridworksCore/Enum/EnumTest/DeriveEnumTests.xslt
  CodeGenerationTools/GridworksCore/Enum/EnumYaml/DeriveEnumYaml.xslt
  CodeGenerationTools/GridworksCore/ODXML/DataSchema.odxml
  CodeGenerationTools/GridworksCore/SSoT/Entities.json
  CodeGenerationTools/GridworksCore/aicapture.json
Due: none

Update gw_base
  CodeGenerationTools/GridworksCore/Enum/EnumInit/DeriveEnumInit.xslt
  CodeGenerationTools/GridworksCore/Enum/EnumYaml/DeriveEnumYaml.xslt
  CodeGenerationTools/GridworksCore/aicapture.json
  docs/message-delivery-architecture.md
  src/gw/enums/__init__.py
  src/gw/enums/market_price_unit.py
  src/gw/enums/market_quantity_unit.py
  src/gw/enums/market_type_name.py
  src/gw/enums/message_category.py
  src/gw/enums/message_category_symbol.py
  src/gw/enums/recognized_currency_unit.py
  src/gw/named_types/gw_base.py
  src/gw/utils.py
  tests/enums/market_price_unit_test.py
  tests/enums/market_quantity_unit_test.py
  tests/enums/market_type_name_test.py
  tests/enums/message_category_symbol_test.py
  tests/enums/message_category_test.py
  tests/enums/recognized_currency_unit_test.py
Due: pyupgrade

pre-commit fixes
  CodeGenerationTools/GridworksCore/Enum/EnumInit/DeriveEnumInit.xslt
  CodeGenerationTools/GridworksCore/ODXML/DataSchema.odxml
  docs/atn-market-maker-contract-state-management.md
  docs/atn-scada-contracts.md
  docs/message-delivery-architecture.md
  src/gw/enums/__init__.py
  src/gw/enums/market_type_name.py
  src/gw/enums/message_category.py
  src/gw/enums/message_category_symbol.py
  src/gw/named_types/gw_base.py
  tests/enums/market_price_unit_test.py
  tests/enums/market_quantity_unit_test.py
  tests/enums/market_type_name_test.py
  tests/enums/message_category_symbol_test.py
  tests/enums/message_category_test.py
  tests/enums/recognized_currency_unit_test.py
Due: pyupgrade

v1.5.0 - various libraries, updated gw_base
  pyproject.toml
Due: check-toml

ci experiments
  .github/workflows/constraints.txt
  .github/workflows/tests.yml
Due: check-yaml

CI experiments
  .github/workflows/tests.yml
Due: check-yaml

cleanup
  .github/workflows/tests.yml
Due: check-yaml

Update tests.yml
  .github/workflows/tests.yml
Due: check-yaml

CI: coverage now needs PIP_AGS set in its own job. (#317)
  .github/workflows/constraints.txt
  .github/workflows/tests.yml
Due: check-yaml

fix named_types init
  pyproject.toml
  src/gw/named_types/__init__.py
Due: check-toml, pyupgrade

Add GwBaseVersionless
  pyproject.toml
  src/gw/named_types/__init__.py
  src/gw/named_types/gw_base_versionless.py
Due: check-toml, pyupgrade

fix pre-commit
  src/gw/named_types/gw_base.py
  src/gw/named_types/gw_base_versionless.py
Due: pyupgrade

eyeroll. Back to gw_base
  pyproject.toml
  src/gw/named_types/__init__.py
  src/gw/named_types/gw_base.py
  src/gw/named_types/gw_base_versionless.py
Due: check-toml, pyupgrade

ruff fix
  src/gw/named_types/gw_base.py
Due: pyupgrade

add default None for version
  CodeGenerationTools/GridworksCore/aicapture.json
  pyproject.toml
  src/gw/named_types/gw_base.py
Due: check-toml, pyupgrade

small typing fix
  pyproject.toml
  src/gw/named_types/gw_base.py
Due: check-toml, pyupgrade

small eye roll
  pyproject.toml
  tests/test_gw_base.py
Due: check-toml, pyupgrade

fix pre-commit
  tests/test_gw_base.py
Due: pyupgrade

Add security architecture for message passing
  docs/message-delivery-architecture.md
Due: none

extra forbid, persistence mechanism doc
  docs/g-node-alias.md
  docs/lexicon.rst
  docs/message-delivery-architecture.md
  docs/persistence-mechanism.md
  pyproject.toml
  src/gw/named_types/gw_base.py
Due: check-toml, pyupgrade

pre-commit fixed
  docs/message-delivery-architecture.md
  docs/persistence-mechanism.md
Due: none

rename ASL
  docs/application-shared-languages.md
  docs/lexicon.rst
Due: none
